.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

h1, h2{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.intro-section{
  background-color: hsl(193, 100%, 96%);
  background-image: url('./images/bg-hero-desktop.svg');
  background-repeat: no-repeat;
  background-size: contain;
  padding: 40px 50px;
  height: max-content;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.try-btn button{
  font-weight: 700;
  width: 12dvw;
  height: 35px;
  background-color: #ffffff;
  box-shadow: hsl(180, 1%, 86%) 0px 0px 7px 2px;
  border-radius: 20px;
}
.try-btn button:active{
  color: hsl(180, 1%, 60%);
}

.intro-inner-container{
  display: flex;
  justify-content: space-between;
}
.intro{
  width: 45%;
}
.intro-tagline{
  font-size: 35px;
  margin: 100px 0px 50px 0px;
}
.intro-image{
  width: 50%;
}
.intro-image img{
  width: 100%;
  float: right;
}
.intro button{
  color: #ffffff;
  background-color: hsl(322, 100%, 66%);
  width: 240px;
  height: 45px;
  border-radius: 25px;
  font-weight: 700;
  margin-top: 30px;
}
.intro button:active{
  background-color: hsl(322, 78%, 75%);
}

.feature-container{
  padding: 70px 40px;
}
.feature{
  box-shadow: hsl(180, 1%, 86%) 0px 0px 5px 1px;
  border-radius: 8px;
  display: flex;
  height: 450px;
  align-items: center;
  margin: 20px;
  padding: 20px;
}
.flowing{
  flex-direction: row-reverse;
}
.flowing .feature-image img{
  float: left;
}
.feature-detail{
  width: 50%;
  padding-left: 35px;
}
.feature-detail p{
  color: hsl(180, 1%, 60%);
}
.feature-image {
  width: 50%;
}
.feature-image img{
  width: 70%;
  float: right;
}

.get-started-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: hsl(180, 1%, 86%) 0px 0px 5px 1px;
  width: 50dvw;
  height: 220px;
  border-radius: 8px;
  justify-content: center;
  position: relative;
  margin: auto;
  transform: translateY(60px);
  background: #ffffff;
}
.get-started-container button{
  background-color: hsl(322, 100%, 66%);
  color: #ffffff;
  width: 220px;
  height: 45px;
  margin-top: 30px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 700;
}
.get-started-container button:active{
  background-color: hsl(322, 78%, 75%);
}

.footer-section{
  background-color: hsl(192, 100%, 9%);
  height: 50dvh;
  display: flex;
  padding: 8% 5%;
  color: #ffffff;
}

.address, .links, .social{
  width: 33%;
}
.address img{
  filter: invert(1) grayscale(1) brightness(100);
}
.addressline, .phone, .email{
  display: flex;
  align-items: center;
  margin: 20px 0px;
}
.addressline img{
  height: 20px;
  margin-top: -30px;
  margin-right: 20px;
  filter: none;
}
.phone img, .email img{
  height: 15px;
  margin-right: 20px;
  filter: none;
}

.links{
  display: flex;
  justify-content: space-between;
  align-self: center;
}
.links ul li{
  list-style: none;
  margin-bottom: 15px;
}
.links a{
  text-decoration: none;
  color: #ffffff;
}
.links a:active{
  text-decoration: underline;
}
.links-about{
  padding-left: 10px;
}
.links-countact{
  padding-right: 10px;
}

.social{
  align-self: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 95%;
}
.social p{
  font-size: 12px;
  text-align: center;
  transform: translateY(130px);
}
.social-links{
  text-align: center;
}
.social-links a{
  margin: 5px;
  color: #ffffff;
  text-decoration: none;
  border: 1px solid #ffffff;
  border-radius: 50px;
  padding: 8px;
}
.social-links a:active{
  color: hsl(322, 100%, 66%);
  border-color: hsl(322, 100%, 66%);
}

@media screen and (max-width: 500px) {
  .intro-section{
    background-image: url('./images/bg-hero-mobile.svg');
    height: fit-content;
    padding: 25px 20px;
  }
  .navbar .logo img{
    width: 32dvw;
  }
  .try-btn button{
    width: 110px;
    height: 30px;
    font-size: 12px;
  }
  .intro-inner-container{
    flex-direction: column;
    align-items: center;
  }
  .intro{
    text-align: center;
    width: 80dvw;
    margin-bottom: 50px;
  }
  .intro-tagline{
    font-size: 1.5em;
    margin: 55px 0px 30px 0px;
  }
  .intro-text{
    margin: 10px 5px;
  }
  .intro-image{
    width: 80dvw;
  }

  .feature-container{
    padding: 50px 5px 10px 5px;
  }
  .feature{
    flex-direction: column-reverse;
    height: max-content;
    padding: 0;
    text-align: center;
    padding: 50px 20px;
  }
  .feature-detail{
    width: 100%;
    padding: 0px 40px;
  }
  .feature-detail h1{
    font-size: 1em;
    margin: 40px 0px 10px 0px;
  }
  .feature-detail p{
    font-size: 12px;
  }
  .feature-image{
    width: 100%;
  }
  .feature-image img{
    width: 80%;
    float: none;
  }
  .flowing .feature-image img{
    float: none;
  }

  .get-started-container{
    width: 90dvw;
    height: 170px;
    margin: 18px;
    text-align: center;
    position: unset;
    transform: translateY(80px);
  }
  .get-started-container h2{
    font-size: 1.2em;
  }
  .get-started-container button{
    width: 50%;
    height: 40px;
  }

  .footer-section{
    flex-direction: column;
    height: fit-content;
    padding-top: 130px;
  }

  .address, .links, .social{
    width: 100%;
  }
  .footer-logo{
    width: 40%;
  }
  .addressline img{
    margin-top: -50px;
  }

  .links{
    flex-direction: column;
  }
  .links-about{
    padding: 0;
    margin-top: 40px;
  }
  .social{
    margin-top: 40px;
  }
  .social p{
    transform: translateY(0);
    margin-top: 20px;
  }
}